@charset "UTF-8";
h4,h5 {color: #3b4890; display: inline-block;}
h4 a {color: #3b4890;}

section {width: 670px; float: left;}
aside {float: right;}
button {cursor: pointer;}
ol a {color: black;}

#login,#user_info {border: 1px solid #3b4890; padding: 10px; margin-bottom: 15px; width: 240px;}
#login input[name=code],#login input[name=pw] {width: 145px; height: 37px; background: #f3f3f3; border: none; padding-left: 5px;}
#login input[type=submit],#user_info button {width: 65px; height: 37px; background: #3b4890; color: white; border: none; border: 1px solid #3b4890; margin-left: 10px; cursor: pointer;}
#login img {height: 13px; cursor: pointer;}
#login div:first-child {margin-bottom: 5px; font-size: 12px;}
#login > div:last-child {border-top: 1px dashed #aaa; margin-top: 15px; font-size: 12px; padding: 10px 0 5px; text-align: center;}
#login input[type=checkbox] {margin-left: 10px;}
#login span {font-size: 11px;}

#user_info button {height: 25px; font-weight: bold;}
#user_info span {border: 1px #ccc solid; background: #f3f3f3; color: #555; width: 68px; height: 25px; font-size: 13px; display: inline-block; text-align: center; padding-top: 5px; margin-bottom: 5px;}
#user_info > div {margin-left: 10px;}
#user_info div:first-child a {color: #3b4890; font-size: 14px;}
#user_info div:first-child a:hover {text-decoration: none;}
#user_info div:last-child {margin-top: 10px;}
#user_info div:nth-child(2) {font-size: 13px; margin: 10px;}
#user_info div:nth-child(2) a {color: #3b4890;}
#user_info img {height: 13px; cursor: pointer;}

#hit > img {width: 150px; margin: 10px 5px;}
#hit div img {width: 10px;}
#hit button {background-color: #3b4890; border: 1px solid #3b4890; padding: 2px 4px; margin: 0;}
#hit > div, #best > div {border-bottom: 2px solid #3b4890; padding-bottom: 10px;}
#hit span {font-size: 12px;}

#best img {height: 20px; padding: 0 5px;}
#best img:last-child {height: 10px;}
#best h4 a,#best h5 a {color: #3b4890;}
#best li {list-style-type: none; border-bottom: 1px solid gainsboro; padding: 10px 0; cursor: pointer;}
#best li a {font-weight: bold; font-size: 14px;}
#best li div:first-of-type {width: 510px;}
#best li div:last-of-type {text-align: right;}
#best h4 span {color: coral;}
#best ul {border-bottom: 1px solid  #3b4890;}
#best ul div {display: inline-block;}
#best li:hover a {text-decoration: underline;}

#silbuk {border: 1px solid #ccc; width: 260px;}
#silbuk h5 {color: black; font-size: 14px;}
#silbuk a {font-size: 12px;}
#silbuk div:first-child {border-bottom: 1px dashed gainsboro; padding-bottom: 10px; margin: 10px;}
#silbuk ol {padding: 0 10px;}
#silbuk ol span:first-child {background: #3b4890; color: white; width: 14px; font-weight: bold; display: inline-block; text-align: center; height: 13px; font-size: 9px;}
#silbuk ol span:last-child:hover {text-decoration: underline;}
#silbuk li {list-style-type: none; margin: 5px 5px;}
#silbuk li a:hover {text-decoration: none;}

#inline {display: inline-block; margin-left: 40px;}
#inline a {
	cursor: pointer;
}
#inline a:before {
	content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 8px 0 3px;
    vertical-align: -1px;
    background: #d7d7d7;
}
#inline a:first-child:before {
	display: none;
}
#inline a:hover {
	text-decoration: underline currentColor;
}
#inline a:nth-child(2) {
	color: #ff6600;
}
#inline a:last-child {
	color: #6f6dd9;
}

#rank {background: gainsboro; padding: 10px; font-size: 12px; text-align: right; margin-top: 10px; text-decoration: underline; cursor: pointer;}
#ad img {width: 260px; margin: 15px 0;}

#name, #date {font-size: 12px; color: #555;}
#name {width: 100px; display: inline-block;}
#date::before {content: ""; display: inline-block; width: 1px; height: 9px; background: #aaa; margin: 0 6px;}
#rn {color: #d31900; font-size: 14px;}

#main_content {
	width: 950px;
    margin: 17px auto 0;
}
#main_content:after {
	display: table;
    clear: both;
    table-layout: fixed;
    content: "";
}