/* body {width: 60%;  margin-left: 20%;} */
h2 a {color: #3b4890}
section {margin: 0 25%;}
#outside {border: 2px solid #d5d5d5; width: 820px; height: 600px; border-top-color: #3b4890;
    padding: 33px 68px 5px;}

input[name=writer],input[name=pw] {width: 200px; line-height: 35px; border: 1px solid #b2b4b2; padding: 0 10px;}
input[name=title] {width: 700px; height: 35px; margin: 10px 0 20px; border: 1px solid #b2b4b2; padding: 0 10px;}
input[type=submit],#outside button {float: right; width: 85px; height: 40px;
    background: #3b4890; color: white; border: 1px solid #3b4890;
    border-bottom-width: 3px; margin-top: 10px; font-weight: bold;
    border-radius: 2px; cursor: pointer; margin-left: 10px;}

textarea {border: 1px solid #b2b4b2; padding: 10px; width: 800px; height: 350px; outline: none; font-size: 15px;}

#outside button {background: #666; border-color: #444;}
#header {padding: 20px 0;}