<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${postDetail.title} + ' - ' + ${gallInfo.nm} + ' 갤러리'">Insert title here</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/postView.css}">
    <link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!--    <script type="module" src="/js/common.js"></script>-->
    <script defer th:src="@{/js/postView.js}"></script>
</head>
<body>
    <header th:insert="~{header}"></header>
    <main>
        <div th:replace="~{fragments::gallName}"></div>
        <div id=post>
            <div id=head>
                <b th:text="${postDetail.title}" class="font-size14"></b><br>
                <p id=sub>
                    <span class=click th:text="${postDetail.writer}"></span>
                    <span id=ip class=click th:text="'('+${postDetail.ip}+')'"></span>
    <!--                    <a href=#><img th:src="@{/image/fix_nik.gif}"></a>-->
    <!--                    <a href=#><img th:src="@{/image/nik.gif}"></a>-->
                    <span th:text="${#temporals.format(postDetail.createdAt, 'yyyy.MM.dd HH:mm:ss')}"></span>
                </p>
                <p class="right">
                    <span th:text="'조회 ' + ${postDetail.hits}"></span> |
                    <span th:text="'추천 ' + ${postDetail.recoNum}"></span> |
                    <a href=#reply th:text="'댓글 ' + ${postDetail.cmts.size()}" class="cmtNum"></a>
                </p>
            </div>
            <div id="img_box" th:each="img : ${postDetail.imgs}">
                <img th:src="@{${img}}">
            </div>
            <div id=con th:text="${postDetail.content}"></div>
            <div class="center">
                <div id=rec>
                    <span th:text="${postDetail.recoNum}"></span>
                    <!--                <button onclick="location.href='reco.jsp?reco=re&idx=<%= idx %>&p_idx=<%=p_idx %>'">-->
                    <!--                    <img th:src="@{/image/star3.png}"><p>추천-->
                    <!--                </button>-->
                    <button th:onclick="|location.href='@{/board/updReco(id = ${gallInfo.gallId}, no = ${postDetail.postId})}'|">
                        <img th:src="@{/image/star2.png}"><p>추천
                    </button>
                    <button th:onclick="|location.href='@{/board/updDeco(id = ${gallInfo.gallId}, no = ${postDetail.postId})}'|">
                        <img th:src="@{/image/down-arrow.png}"><p>비추
                    </button>
                    <span th:text="${postDetail.decoNum}"></span>
                </div>
            </div>
        </div>
        <div id=reply>
            <div class="reTop" id=left>
                전체 댓글 <span th:text="${postDetail.cmts.size()}" class="cmtNum"></span>개
                <select>
                    <option>등록순
                    <option>최신순
                    <option>답글순
                </select>
            </div>
            <div class="reTop right">
                <a href=#header><b>본문 보기</b></a> &nbsp;|&nbsp;
                <button><b>댓글닫기</b> <img th:src="@{/image/arrow-up.png}"></button> &nbsp;|&nbsp;
                <a href=#reply><b>새로고침</b></a>
            </div>
            <div id=tiv th:if="${postDetail.cmts.size() > 0}">
                <ul>
                    <li th:each="cmt : ${postDetail.cmts}">
                        <span th:text="${cmt.writer} + '(' + ${cmt.ip} + ')'"></span>
                        <span th:text="${cmt.content}"></span>
                        <span th:text="${#temporals.format(cmt.createdAt, 'MM.dd HH:mm:ss')}"></span>
<!--                        <button id=del><img th:src="@{/image/close.png}"></button>-->
                    </li>
                </ul>
<!--                <div id=delCheck>-->
<!--                    <input id=pc type=password placeholder=비밀번호>-->
<!--                    <button id=check>확인</button><button id=x>X</button>-->
<!--                </div>-->
                <div class="reBot right">
                    <a href=#header><b>본문 보기</b></a> &nbsp;|&nbsp;
                    <button><b>댓글닫기</b> <img th:src="@{/image/arrow-up.png}"></button> &nbsp;|&nbsp;
                    <a href=#reply><b>새로고침</b></a>
                </div>
            </div>
            <div id=text>
                <div id=np>
                    <input type="hidden" name=postId id="postId" th:value="${postDetail.postId}">
                    <input type="hidden" name=gallId id="gallId" th:value="${gallInfo.gallId}">
                    <input type=text placeholder=닉네임 name=writer id="writer" value="ㅇㅇ" required><br>
                    <input type=password placeholder=비밀번호 name=pw required id="cmtPw">
                    <!--                        <input type=text placeholder=닉네임 name=nickname value=<%=session.getAttribute("nick") %> readonly><br>-->
                    <!--                        <input type=hidden name=pw value=<%=session.getAttribute("pw") %>-->
                </div>
                <div id=ta><textarea name=content id="content" required></textarea></div>
                <div class="right-flex"><button class="submit">등록</button></div>
            </div>
        </div>
        <div>
            <button th:onclick="|location.href='@{/board/{gallId}(gallId = ${gallInfo.gallId})}'|">전체글</button>
            <button class=ns th:onclick="|location.href='@{/board/{gallId}(gallId = ${gallInfo.gallId}, exception_mode = recommend)}'|">추천글</button>
            <!--				<button class=ns onclick="location.href='gallMain.jsp?idx=<%=idx%>'">전체글</button>-->
            <!--				<button onclick="location.href='gallMain.jsp?idx=<%=idx%>&post=reco'">추천글</button>-->
            <button class=right th:onclick="|location.href='@{/board/write/{gallId}(gallId = ${gallInfo.gallId})}'|">글쓰기</button>
            <button class=right id=delete th:onclick="|location.href=
                '@{/board/pwCheck/{gallId}/{postId}(gallId = ${gallInfo.gallId}, postId = ${postDetail.postId}, mode = del)}'|">삭제</button>
            <button class=right id=edit th:onclick="|location.href=
                '@{/board/pwCheck/{gallId}/{postId}(gallId = ${gallInfo.gallId}, postId = ${postDetail.postId}, mode = upd)}'|">수정</button>
        </div>
        <div id="bot">
            <table>
                <thead>
                <tr>
                    <th width=50px>번호
                    <th>제목
                    <th width=100px>글쓴이
                    <th width=80px>작성일
                    <th width=50px>조회
                    <th width=50px>추천
                </tr>
                </thead>
                <tbody>
                <tr th:each="post, i : ${postList}">
                    <!--					<td th:text="${postList.size() - (((param.page - 1) * param.size) + i.index)}">-->
                    <td th:text="${post.postId}">
                    <td align=left>
                        <a th:href="@{/board/{gallId}/{postId}(gallId = ${gallInfo.gallId}, postId = ${post.postId})}" th:text="${post.title}">
                            <img th:src="@{/image/chat.png}">
                        </a>
                        <a th:href="@{/board/view#reply(id = ${gallInfo.gallId}, no = ${post.postId})}" th:text="'['+${post.cmtNum}+']'"></a>
                    <td class="pointer">
                        <span th:text="${post.writer}">ㅇㅇ</span>
                        <span th:text="'(' + ${post.ip} + ')'" class="ip">(223.38)</span>
                        <!--					<a href=#><img th:src="@{/image/fix_nik.gif}"></a>-->
                        <!--					<a href=#><img th:src="@{/image/nik.gif}"></a>-->
                    <td th:text="${#calendars.format(#calendars.createNow(), 'yyyyMMdd') == #temporals.format(post.createdAt, 'yyyyMMdd')} ?
					    ${#temporals.format(post.createdAt, 'HH:mm')} : ${#temporals.format(post.createdAt, 'MM.dd')}">
                    <td th:text="${post.hits}">
                    <td th:text="${post.recoNum}">
                </tbody>
            </table>
            <div>
                <button th:onclick="|location.href='@{/board/{gallId}(gallId = ${gallInfo.gallId})}'|">전체글</button>
                <button class="ns" th:onclick="|location.href='@{/board/{gallId}(gallId = ${gallInfo.gallId}, exception_mode = recommend)}'|">추천글</button>

                <!--				<button class="ns" onclick="location.href='gallMain.jsp?idx=<%=idx%>'">전체글</button>-->
                <!--				<button onclick="location.href='gallMain.jsp?idx=<%=idx%>&post=reco'">추천글</button>-->

                <!--				<button class="ns" onclick="location.href='gallMain.jsp?idx=<%=idx%>'">전체글</button>-->
                <!--				<button class="ns" onclick="location.href='gallMain.jsp?idx=<%=idx%>&post=reco'">추천글</button>-->

                <button class=right th:onclick="|location.href='@{/board/write/{gallId}(gallId = ${gallInfo.gallId})}'|">글쓰기</button>
            </div>
            <div th:each="page : ${#numbers.sequence(1, totalPage)}" class="center">
                <a th:if="${page != currentPage}"
                   th:href="@{/board(id = ${gallInfo.gallId}, page = ${page}, list-num = ${totalPage})}"
                   th:text="${page}"></a>
                <strong th:if="${page == currentPage}" th:text="${page}" style="color: red"></strong>
            </div>
        </div>
        <div id=login>
            <p><a href=>로그인해 주세요.</a>
            <div>
                <a href=#>MY갤로그</a> &nbsp;|&nbsp;
                <a href=#>즐겨찾기</a> &nbsp;|&nbsp;
                <a href=#><img th:src="@{/image/bell.png}"> 알림</a>
            </div>
            <!--				<p><a href=#><b><%=session.getAttribute("nick") %></b>님<img th:src="@{/image/right-arrow3.png}"></a>-->
            <!--				<button onclick="location.href='logout.jsp?url=<%= request.getRequestURL()'">로그아웃</button>-->
            <!--				<div>-->
            <!--					<a href=#>MY갤로그</a> |-->
            <!--					<a href=#>즐겨찾기</a> |-->
            <!--					<a href=#>운영/가입</a> |-->
            <!--					<a href=#><img th:src="@{/image/bell.png}"> 알림</a>-->
            <!--				</div>-->
        </div>
    </main>
</body>
</html>