<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title th:text="${gallInfo.nm} + ' 갤러리'">Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/writePost.css}">
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script defer th:src="@{/js/writePost.js}"></script>
</head>
<body>
	<header th:insert="~{header}"></header>
	<section>
		<div th:replace="~{fragments::gallName}"></div>
		<div id=outside>
			<form action="/gallery/write" method=post enctype="multipart/form-data">
				<div>
					<input type="hidden" name="gallId" th:value="${gallInfo.gallId}">
					<input type=text placeholder=닉네임 name=writer required id="writer" value="ㅇㅇ">
					<input type=password placeholder=비밀번호 name=pw required id="postPw">
<!--					<input type=hidden value name=nick>-->
<!--					<input type=hidden value name=pw>-->
				</div>
				<div><input type=text placeholder="제목을 입력해 주세요." name=title id="title" required></div>
				<input id="img" type="file" name="imgList" multiple><br><br>
				<textarea name=content required></textarea><br>
				<input type=submit id="submit" value=등록>
			</form>
			<button onclick=history.back()>취소</button>
		</div>
	</section>
</body>
</html>