<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/writePost.css}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
		$(function () {
			$("header").load("../header");
		})
	</script>
</head>
<body>
	<header></header>
	<section>
		<div id=header>
			<h2><a th:href="@{/board(id = ${gallInfo.gallId})}" th:text="${gallInfo.nm}"></a></h2>
		</div>
		<div id=outside>
			<form action="/board/write" method=post enctype="multipart/form-data">
				<div>
					<input type="hidden" name="gallId" th:value="${gallInfo.gallId}">
					<input type=text placeholder=닉네임 name=writer required value="ㅇㅇ">
					<input type=password placeholder=비밀번호 name=pw required id="postPw">
<!--					<input type=hidden value name=nick>-->
<!--					<input type=hidden value name=pw>-->
				</div>
				<div><input type=text placeholder="제목을 입력해 주세요." name=title required></div>
				<input type="file" name="imgList" multiple><br><br>
				<textarea name=content required></textarea><br>
				<input type=submit value=등록>
			</form>
			<button onclick=history.back()>취소</button>
		</div>
	</section>
</body>
<script th:src="@{/js/writePost.js}"></script>
</html>